<!DOCTYPE html>

{% load IOTD_template_tags %}
{% load static %}

<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'js/base.js' %}" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"rel="stylesheet" type="text/css" />
		{% block importblock %}{% endblock %}

		<title>
			{% block title_block %}{% endblock %}
		</title>
	</head>
	<body>

		<div class="holder">

            {% if profile != "empty" %}
            	<meta http-equiv="refresh" content="0; url='{% url 'IOTD:image_search' profile=profile %}'" />
            {% endif %}

        	<div class="title-bar">
            	{% url 'IOTD:login' as home_url %}
            		<div class="title-search">

            		{% if request.get_full_path != home_url %}

                		<form action = "" method = "post">

                  			{% csrf_token %}

							<input class="search ui-autocomplete-input remove-input" type="text" id="tags" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"name="search" >

                			<script type="text/javascript">
                            	var availableTags = [
                               		{% for profile in profiles %}
                                 		"{{profile.name}}",
                                	{% endfor %}
                            	];
                    		</script>
				 		</form>

            		{% endif %}

            </div>

			<div class="title-text-container">
				<h1 class="title-text">
					<a href="{% url 'IOTD:home' %}">Image of the day</a>
				</h1>
			</div>

			<div class="title-account">
				{% if user.is_authenticated %}
	                <button class="title-button">
	                    <a href="{% url 'IOTD:myAccount' %}">My Image</a>
	                </button>
			    {% else %}
		    		<button class="title-button">
		    			<a href="{% url 'IOTD:login' %}"> Sign In</a>
		    		</button>
	    		{% endif %}
			</div>
		</div>

		<div class="main-content">
			{% block maincontent_block %}

			{% endblock %}
		</div>	
		<footer class="base-footer">
			<div class="footer-box-2">
				{% if user.is_authenticated %}
                    <a class="f-resize" href="{% url 'IOTD:error' error='Contact us through this mail: support@image-of-the-day.co.uk' %}"> Contact Us</a>&nbsp;&nbsp;&nbsp;
					<a class="f-resize" href="{% url 'IOTD:logout' %}"> Log Out</a>&nbsp;&nbsp;&nbsp;	
					<a class="f-resize" href="{% url 'IOTD:myAccount' %}"> My Image</a>&nbsp;&nbsp;&nbsp;	
					<a class="f-resize" href="{% url 'IOTD:voteImage' %}"> Vote For An Image</a>&nbsp;&nbsp;&nbsp;
					<a class="f-resize" href="{% url 'IOTD:upload' %}"> Upload An Image</a>&nbsp;&nbsp;&nbsp;	
				{% else %}
					<a class="f-resize" href="{% url 'IOTD:login' %}"> Sign In</a>	&nbsp;&nbsp;&nbsp;
				{% endif %}

				{% url 'IOTD:home' as home_url %}
            	{% if request.get_full_path != home_url %}

				<a class="f-resize" href="{% url 'IOTD:home' %}"> Home</a>&nbsp;&nbsp;&nbsp;

				{% endif %}


			</div>
		</footer>
	</div>

	</body>
</html>