<!DOCTYPE html>
{% load staticfiles %}
{% load IOTD_template_tags %}

<html>
	<head>

		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'js/base.js' %}" type="text/javascript"></script>
		{% block importblock %} {% endblock %}

		<title>
			{% block title_block %}  {% endblock %}
		</title>
	</head>
	<body>

		<div class="holder">

		<div class="title-bar">
			<div class="title-search">
				<input class="search">

				<div class="search-results">
					<p>Result 1</p><p>Result 2</p><p>Result 3</p>
					<p>Result 4</p><p>Result 5</p><p>Result 6</p>
				</div>

			</div>

			<div class="title-text-container">
				<h1 class="title-text">
					<a href="{% url 'IOTD:home' %}">Image of the day</a>
				</h1>
			</div>

			<div class="title-account">
				{% if user.is_authenticated %}
				    <div class="image-frame">
		    			<a href="my-account"><img src="" alt="user profile image"></a>
		    		</div>
			    {% else %}
		    		<button class="title-button">
		    			<a href="{% url 'IOTD:login' %}"> Sign In</a>
		    		</button>
	    		{% endif %}
			</div>
		</div>
		<div class="main-content">
		{% block maincontent_block %}
			
		{% endblock %}
		</div>	
		<footer class="base-footer">
			<div class="footer-box-2">
				
				{% if user.is_authenticated %}
					<a href="{% url 'IOTD:logout' %}"> Log Out</a>&nbsp;&nbsp;&nbsp;
					<a href="{% url 'IOTD:myAccount' %}"> My Account</a>&nbsp;&nbsp;&nbsp;
					<a href="{% url 'IOTD:voteImage' %}"> Vote For An Image</a>&nbsp;&nbsp;&nbsp;
					<a href="{% url 'IOTD:upload' %}"> Upload An Image</a>&nbsp;&nbsp;&nbsp;
				{% else %}
					<a href="{% url 'IOTD:login' %}"> Sign In</a>	&nbsp;&nbsp;&nbsp;
				{% endif %}

				<a href="{% url 'IOTD:home' %}"> Home</a>&nbsp;&nbsp;&nbsp;


			</div>
		</footer>
	</div>

	</body>
</html>