{% extends 'IOTD/base.html' %}
{% load staticfiles %}

{% block importblock %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script src="{% static 'js/home.js' %}"></script>

{% endblock %}

{% block title_block %}
	Homepage
{% endblock %}

{% block titlebar_name %}
	Image of the day
{% endblock %}

{% block maincontent_block %}
   	<div class="image-container">

   		<img class="displayed-image" src="{% static 'images/image-of-the-day/placeholder.png' %}" alt="image">

   	</div>

   	<div class="image-details">

   		<div class="loved-it voting-buttons">
   			<button class="vote-image"> Loved It </button>
   		</div>

   		<div class="image-title-container"><p class="image-title-text">Image</p></div>

   		<div class="hated-it voting-buttons">
   			<button class="vote-image"> Hated It </button>
   		</div>

   	</div>

   	<div class="user-actions">
   		<button class="redirect-button vote-on-image-page"></button>
   		<button class="redirect-button upload-button"></button>

   	</div>

{% endblock %}