{% extends 'IOTD/base.html' %}
{% load static %}

{% block importblock %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script src="{% static 'js/home.js' %}"></script>

{% endblock %}

{% block title_block %}
	Homepage
{% endblock %}

{% block titlebar_name %}
	Image of the day
{% endblock %}

{% block maincontent_block %}

<div style="height:900px">

   	<div class="image-container">

        <div class="name">

            <h2 class="name-text">

              <span><b>Loved It:</b></span>
              <span><b>{{images.0.likes}}&nbsp;&nbsp;&nbsp;</b></span>

              <span><b>'{{images.0.name}}'&nbsp;&nbsp;&nbsp;</b></span>

              <span><b>Hated It:</b></span>
              <span><b>{{images.0.dislikes}}</b></span>
            </h2>
        </div>


   		<img class="displayed-image" src={{images.0.picture.url}} alt="image">

   	</div>
    {% if user.is_authenticated %}
   	<div class="user-actions">
   		<a class="redirect-button vote-on-image-page" href="vote-image/">vote</a>
   		<a class="redirect-button upload-button" href="upload/">upload</a>
   	</div>
    {% endif %}
</div>
{% endblock %}