{% extends 'IOTD/base.html' %}
{% load staticfiles %}
{% block importblock %}
<link rel="stylesheet" href="{% static 'css/my-account.css' %}">
<script src="{% static 'js/my-account.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block title_block %} Result {% endblock %}
{% block maincontent_block %}
<div style="height:900px">

    <h1 class="my-account-title"> Image searched</h1>

       <div class="image-container">
        <div class="name">

            <h2 class="name-text">

              <span><b>Loved It:</b></span>
              <span><b>{{image.likes}}&nbsp;&nbsp;&nbsp;</b></span>

              <span><b>'{{image.name}}'&nbsp;&nbsp;&nbsp;</b></span>

              <span><b>Hated It:</b></span>
              <span><b>{{image.dislikes}}</b></span>
            </h2>
        </div>

   		<img class="displayed-image" src={{image.picture.url}} alt="image">

   	</div>
{% endblock %}