{% extends 'IOTD/base.html' %}
{% load staticfiles %}

{% block importblock %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}

{% block title_block %} Login Area {% endblock %}


{% block maincontent_block %}

    <div class="login-title">
        
        <h1>Login</h1>

    </div>


    <form id="user_form" method="post" action="{% url 'IOTD:login' %}"
      enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form -->
    {{ user_form.as_p }}

    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="Signup" value="Signup" />
    <input type="submit" name="Login" value="Login" />
</form>


{% endblock %}