{% extends 'IOTD/base.html' %}
{% load staticfiles %}

{% block importblock %}
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<script src="{% static 'js/login.js' %}"></script>

{% endblock %}

{% block title_block %} Login Area {% endblock %}


{% block maincontent_block %}

    <div class="login-title">
        
        <h1>Login</h1>

    </div>


   	<div class="login-area">
    <label for="username">
    	<b>Username</b>
    </label></br>
    <input type="text" placeholder="Enter Username" name="uname" required>
    </br>

    <label for="password">
    	<b>Password</b>
    </label></br>
    <input type="password" placeholder="Enter Password" name="psw" required></br>

    <label for="confirm-password">
    	<b class="on-signup">Confirm Password</b>
    </label></br>
    <input class="on-signup" type="password" placeholder="Enter Password" name="psw" required></br>

    <button id="login" type="submit">Login</button>
    <button id="signup" type="submit">Sign Up</button>
  </div>
{% endblock %}