{% extends 'IOTD/base.html' %}
{% load staticfiles %}
{% block title_block %} Upload Area {% endblock %}
{% block maincontent_block %}
{% block importblock %}
	<link rel="stylesheet" href="{% static 'css/upload.css' %}">
	<script src="{% static 'js/upload.js' %}"></script>
{% endblock %}

<div class="upload-title">
	<h1><span>Upload</span></h1>
</div>


<div class="upload-area">
    <form id="user_form" method="post" action="{% url 'IOTD:upload' %}"16 enctype="multipart/form-data">
        {% csrf_token %}
			Picture:
		<input type="file" name="picture" accept="image/*" id="id_picture"></p>
		<p><label for="id_name">Name:</label> <input type="text" name="name" maxlength="128" required="" id="id_name"><input type="hidden" name="likes" value="0" id="id_likes"><input type="hidden" name="dislikes" value="0" id="id_dislikes"><input type="hidden" name="image_id" id="id_image_id"></p>

        <button type="submit" name="submit" value="upload">upload</button>
    </form>

</div>

<div class="additional-content" style="height: 600px">

</div>
{% endblock %}