{% extends 'IOTD/base.html' %}
{% load staticfiles %}
{% block title_block %} Vote Area {% endblock %}
{% block maincontent_block %}
{% block importblock %}
    <link rel="stylesheet" href="{% static 'css/vote-image.css' %}">
    <script src="{% static 'js/vote-image.js' %}"></script>
{% endblock %}

    <div class="showcaseContainer">

        {% for image in images %}


        <div class="showcaseImage" id="{{image}}{{image.id}}">


           <form id="user_form{{image.image_id}}" method="post" action="/home/vote-image/" 16="" enctype="multipart/form-data">
                {% csrf_token %}
                     <div class="loved-it">
                    
                        <button class="loved-it-text" type="submit" name="like" value="{{image.image_id}}">Loved It</button>
                        <h2 class="loved-it-counter"><span><b>{{image.likes}}</b></span></h2>
                    </div>
                     <div class="hated-it">

                        <button class="hated-it-text" type="submit" name="dislike" value="{{image.image_id}}">Hated It</button>
                        <h2 class="hated-it-counter"><span><b>{{image.dislikes}}</b></span></h2>                         

                     </div>
                        <!--<img class="displayed-image" src={{image.picture.url}} alt="image">-->
                

            
                <!--<h5>{{image.name}}</h5>-->
             </form>
         </div>
         {% endfor %}
     </div>

         


{% endblock %}