{% extends 'IOTD/base.html' %}
{% load staticfiles %}
{% block title_block %} Vote Area {% endblock %}
{% block maincontent_block %}
<style type=text/css> h2{ height:100px;} </style> 
{% for image in images %}
<h2></h2>
<div >
    <h5><img src="{{image.picture.url}}" alt="Mountain" width="200" height="200"></h5>
     <h5>Likes: {{image.likes}}</h5>
     <h5>Dislikes: {{image.dislikes}}</h5>
     <form id="user_form" method="post" action="{% url 'IOTD:voteImage' %}"16 enctype="multipart/form-data">
        {% csrf_token %}
        {{ vote_form.as_p }}
        <h5><input type="submit" name="like" value={{image.image_id}}> Like</h5>
        <h5><input type="submit" name="dislike" value={{image.image_id}}> Dislike</h5>
        </form>
</div>
<hr>
{% endfor %}
{% endblock %}