/*
This CSS file has temporarily been made as a singluar
file with no forrm of formatting to aid readability
this will be fixed in the following commit.
*/

html,body {
	margin: 0;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
a {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

.title-bar {
	top: 0;
	width: 100%;
	height: 100px;
	position: fixed;
	display: flex;
	z-index: 3;
		background-color: white;

}
.title-button {
	position: relative;
	top: 40px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 20px;
}
.title-button:hover{
	font-size: 15px;
	transition-duration: 0.1s;
}
.title-back {
	width: 25%;
	height: 100%;
	position: relative;
}
.title-back-button {
	width: 100%;
	height: 30%;
}
.title-text-container {
	width: 50%;
	height: 100%;
}
.title-text {
	font-size: 50px;
	text-align: center;
	top: -10%;
	position: relative;
}
.title-account {
	width: 25%;
	height: 100%;
}
.title-account-button {
	width: 100%;
	height: 30%;
}
.main-content {
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 2;
	top: 100px;
}
.image-container {
	width: 400px;
	height: 400px;
	top: 50px;
	position: relative;
	margin: auto;
	background-color: gray;
}

.displayed-image {
	width: 100%;
	height: 100%;

}
.image-details {
	width: 400px;
	height: 100px;
	top:50px;
	position: relative;
	margin: auto;
	display: flex;
	text-align: center;
	color: black;
}

.loved-it {
	position: absolute;
	width: 25%;
	font-size: 10px;
}

.loved-it button {
	width: 100px;
	height: 30px;
	top: 30px;
	position: relative;
	border: none;

}

.hated-it button {
	width: 100px;
	height: 30px;
	top: 30px;
	position: relative;
	border: none;

}

.hated-it {
	position: absolute;
	width: 25%;
	font-size: 10px;
}

.vote-image {
	position: sticky;
	z-index: 4;
}

.image-title-container {
	top:35%;
	position: relative;
	width: 50%;
	font-size: 2vw;


}

/* will fix in next commit as text is not positioned
	in a desirable manor */

.image-title-text {
	position: relative;
	top: -17.5%;
}

.voting-buttons {
	position: relative;
}

.vote-button-text {
	transition-duration: 0.1s;
	position: sticky;
	z-index: 5;
	display: none;
}

.votes-show {
	color: blue;
}

.user-actions {
	top: 100px;
	position: relative;
}

.redirect-button {

	display: flex;
	position: absolute;
	width: 150px;
	height: 50px;
}

.vote-on-images-page {
	float: right;
}

.upload-button {
	float: left;
}

.login-area {
	width: 400px;
	height: 400px;
	top: 50px;
	position: relative;
	margin: auto;
	text-align: center;
	top: 100px;
}

.on-signup {
	display: none;
	transition-duration: 0.1s;
}

.show {
	display: block;
}
