html,body {
	margin: 0;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	overflow: scroll;
	height: 100%;
}

.holder {
	display: grid;
}
div.search{
    position: relative;
    width: 500px;
    height:  500 px;
}
/* initialisation for any hyperlinks */
	a {
		text-decoration: none;
		color: black;
		transition-duration: 0.5s;
		font-weight: bold;
	}
	a:visited {
		text-decoration: none;
		color: black;
	}

/* title bar full container */

	.title-bar {

		top: 0;
		width: 100%;
		height: 100px;
		position: fixed;
		display: flex;
		z-index: 3;
		background-color: white;

	}

	@media only screen and (max-width: 960px) {
		.title-bar{
			height: 150px;
		}

		.main-content {
			top: 50px;
		}
	}

/* title bar quadrants  */

	.title-search {
		width: 25%;
		height: 100%;
		text-align: center;

	}

	.title-text-container {
		width: 50%;
		height: 100%;

	}

	.title-account {
		width: 25%;
		height: 100%;

	}

/* title bar search bar */

	.search {
	  width: 50px;
	  height: 50px;
	  font-size:20px;
	  border-radius: 50%;
	  text-align: center;
	  transition-duration: 0.2s;
	  border-color: transparent;
	  margin: auto;
	  position: relative;
	  top: 25px;
	  background-image: url('http://www.clker.com/cliparts/z/1/T/u/9/2/search-icon-hi.png');
	  background-size: 25px;
	  background-position: center;
	  background-repeat: no-repeat;
	  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	  padding: 5px;
	}

	input.search:focus {
		background-image:none;
	}

	.search-active {
	  width: 75%;
	  border-radius: 0px;
	}

	input:focus {
		outline-width: 0;
	}

	.remove-input {
		color: black;
	}

	.search-results {
		z-index: 40;
		position: fixed;
		top: 80px;
		width: 20vw;
		left: 2.5vw;
		height: 200px;
		background-color: #b4cfc7;
		color: #535c54;
		overflow-y: scroll;
	}

/* title text */
	.title-text {
		font-size: 50px;
		text-align: center;
		top: -10%;
		position: relative;
	}


/* title bar account/sign in */

	/* sign in button */
		.title-button {
			position: relative;
			
			background-color: transparent;
			border: none;
			cursor: pointer;
			font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
			font-size: 20px;
			width: 100%;
			height: 100%;
		}

		.title-button:hover{
			font-size: 18px;
			transition-duration: 0.1s;
		}
/* main page content initialisation */

	.main-content {
		background-color: #EAF1F1;
		width: 100vw;
		position: relative;
		z-index: 2;
	}

/* footer of base html */

	.base-footer {
		display: flex;
		padding: 0px;
		width: 100%;
		height: 150px;
		background-color: white;

		margin: 0;
      	position: relative;
      	bottom: 0;
      	right: 0;
	}

	.footer-box-2 {
		width: 100vw;
		display: inline-block;
		line-height: 135px;
		text-align: center;

	}

	a:hover {
		color: white;
		background-color: black;
	}