.image-container {
	z-index: 5;
	width: 400px;
	height: 400px;
	top: 200px;
	position: relative;
	margin: auto;
	background-color: white;
	padding: 40px;
	border-color: white;
	border-radius: 35px;
}


.displayed-image {
	width: 100%;
	height: 100%;

}

.loved-it {
	z-index: 10;
	position: absolute;
	width: 400px;
	height: 400px;
	font-size: 10px;
	transition-duration: 0.2s;

}


.vote-image {
	position: sticky;
	z-index: 4;
}

.image-title-container {
	top:35%;
	position: relative;
	width: 50%;
	font-size: 2vw;


}

/* will fix in next commit as text is not positioned
	in a desirable manor */

.image-title-text {
	position: relative;
	top: -17.5%;
}

.voting-buttons {
	position: relative;
}

.vote-button-text {
	transition-duration: 0.1s;
	position: sticky;
	z-index: 5;
	display: none;
}

h2 {
    margin-top: 0;
}

.votes-show {
	color: blue;
}

.user-actions {
	top: 250px;
	position: relative;
	margin: auto;
	text-align:center;
	word-spacing: 100px;
}

.redirect-button {
	position: relative;
	width: 150px;
	height: 50px;
	background-color: white;
	border-right: 35px;
	font-size: 50px;
}
.name{
    z-index: 20;
	position: absolute;
	width: 390px;
	background-color: black;
	bottom: 40px;
    left: 40px;
    height: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.name-text{
    color: white;
	font-size: 15px;
}
