.login-area {
	width: 400px;
	height: 400px;
	top: 150px;
	position: relative;
	margin: auto;
	text-align: center;
}

.on-signup {
	display: none;
}

.show {
	display: inline;
}

.login-title {
	font-size: 20px;
	width: 100%;
	text-align: center;
	position: relative;
	top: 125px;
}
